@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,600");
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');


.container-fluid{
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

#text-block {
  position: absolute;
  margin-bottom: 0px;
  bottom: 0px;
  right: 20px;
  background-color: inherit;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: ;
  font-family: 'Roboto Mono', monospace,"Nunito Sans", "Helvetica Neue","Segoe UI",BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.main-text {
	position: absolute;
	opacity: 0.7;
	bottom: 600px;
	right: 650px;
	letter-spacing: 5px;
  	background-color: inherit;
  	color: white;
 	padding-left: 20px;
  	padding-right: 20px;
  	font-size: 60px;
  	font-weight: extra-light;
  	font-family:  "Nunito Sans",'Roboto Mono', monospace,"Helvetica Neue","Segoe UI",BlinkMacSystemFont, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.btn-custom {
	position: absolute;
	bottom:460px;
	right: 840px;
	border-radius: 30px;
	color: white;
	border: none;
	opacity: 0.7;
}

.secondary-text {
	position: absolute;
	font-family: "Nunito Sans";
	background-color: inherit;
	bottom: 535px;
	right: 645px;
	font-size: 30px;
	text-shadow: 1px 1px black;
	color: white;
}

p {
	font-size: 20px;
}


#brand-logo {
	overflow: hidden;
}

.image {
	margin-left: 100px;
	margin-right: 100px;
	margin-bottom: 100px;
}

.image:hover {
  transform: scale(1.04);
  cursor: crosshair;

}

.overlay {
    transition: 1s ease;
}


.flex-item {
	/*margin-right: 70px;*/
	justify-content: flex-end;
}

#btn2 {
	border-radius: 0px;
	color: white;
	margin-top: -100px;
	position: relative;
	background-color: #1a1a1a;
	border-color: white;
	border-style: solid;
	border-width: 2px;

}

#btn2:hover {
	
	transform: scale(1.02);
/*	transition: 1s ease;
*/

	/*opacity: 0.6;*/

}

.white-background {
	background-color: #1a1a1a;
}

.plan-background2 {
	background-image: url("photo/plan1.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.text-white {
	color:white;
}

#team {
	display: block;
	margin-left:100%;
	margin-right: 0px;
	padding: 0px;
	width: 100%;
}

#team-title {
	font-family: "Nunito Sans";
	font-weight: bold;
	font-size: 30px;

}

#team-text {
	font-family: "Nunito Sans";
	font-size: 20px;
	margin-left: auto;
	width: 50%;
}