html *
{
   font-family: 'Karla', sans-serif;
}


ul {
	list-style-type: none;
}

.fond {
	background: url('https://images.unsplash.com/photo-1508898578281-774ac4893c0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80')
}
.jumbotron {
	background: transparent;
	color: white;

}

.navbar {
	background-color: #E9F1F7;
	border-bottom: double;
}

.nav-link {
	color: #8A26A6;
	font-size: 20px;
	font-weight: bold;
}
body {
	background-color: #E9F1F7;
}

.footer {
	background-color: #E9F1F7;
}

#brandlogo {
	padding-top: 0px;
	margin-top: 0px;
}

.btn-primary { 
	background-color: #8A26A6;
	border-color: #8A26A6; 
}

#space {
	position: relative;
}

#female {
	position: relative;
	max-width: 500px;
	
}

#male {
	position: relative;
	max-width: 500px;

}



input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}