html *
{
   font-family: 'Karla', sans-serif;
}


ul {
	list-style-type: none;
}

.fond {
	background: url('https://images.unsplash.com/photo-1508898578281-774ac4893c0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80')
}
.jumbotron {
	background: transparent;
	color: white;

}

.navbar {
	background-color: #E9F1F7;
	border-bottom: double;
}

.nav-link {
	color: #8A26A6;
	font-size: 25px;
	font-family: 'Poiret One', cursive;
}
body {
	background-color: #E9F1F7;
}

.footer {
	background-color: #E9F1F7;
}

li {
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}

#country{
	font-family: 'Poiret One', cursive;
}
#brandlogo {
	padding-top: 0px;
	margin-top: 0px;
}

.btn-primary { 
	background-color: #8A26A6;
	border-color: #8A26A6; 
	font-family: 'Poiret One', cursive;
	font-weight: bold;
}

#space {
	position: relative;
}

#female {
	position: relative;
	max-width: 500px;
	
}

#male {
	position: relative;
	max-width: 500px;

}


#placeholder::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif;
  opacity: 1; /* Firefox */
}


#placeholder::-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif;
}

#placeholder::-ms-input-placeholder { /* Microsoft Edge */
  font-family: 'Poiret One', cursive, Arial, Helvetica, sans-serif;
}